/* main {
  justify-content: center;
} */
.hidden {
  display:none;
}

#banner {
  width: 100%;
  height: 20%;
}

/* #search {
  margin-top: 100px;
} */

#main-search {
  display: block;
  justify-content: center;
}

#player-view {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 50px;
}

.playerDiv {
  border: 2px solid black;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  font-family: arial;
}

.chart {
  margin-top: 50px;
  position:relative;
  width: 70vw;
}

a {
    text-decoration: none;
}

.remove-button {
  position: absolute;
  left: 99%;
  cursor: pointer;
  font-family: arial;
  opacity: 0.5;
}

.remove-button:hover {
  opacity: 1;
}