li.name {
  font-weight:500;
  text-decoration: underline;
}

.team, .position,
.dob, .height, .weight {
  color: gray;
  font-size: 12px;
}

.headshot {
  width: 15%;
  height: auto;
}

.playerInfo {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.table {
  display:table;
  width:80%;
  table-layout: fixed;
  font-size: 15px;
  /* border-top: none;
  border-bottom: none; */
  text-align: center;
  /* justify-content:left; */
}

.article-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width:100px;
}

.cat, .stat {
  display:table-cell;
  border: 1px solid black;
  text-align: center;
}

.categoryLabel {
  background-color: grey;
  justify-content:space-evenly;

}

.firstCol {
  width:10%;
}

.news-link {
  text-decoration: none !important;
}


