#banner {
  width: 100%;
  height: 200px;
}

.contact-info {
  display: flex;
  justify-content: right;
  list-style-type: none;
}

.category-bar {
  display: none;
  list-style-type: none;
  justify-content:space-evenly;
}

#main-search {
  display: flex;
  justify-content: center;
}

#player-view {
  display: flex;
  justify-content: center;
  width: 80%;

}

.playerDiv {
  border: 2px solid black;
  width: 70%;
  height: 100px;
  display: flex;
}


.headshot {
  width: 20%;
  height: 80%;
}